@font-face {
    font-family: Momentz;
    src: url(/css/fonts/momentz/Momentz.ttf);
}

@font-face {
    font-family: CuteCat;
    src: url(/css/fonts/cute_cat/Cute\ Cat.otf);
}

@font-face {
    font-family: Sacramento;
    src: url(/css/fonts/sacramento/Sacramento-Regular.ttf);
}


@font-face {
    font-family: Boogaloo;
    src: url(/css/fonts/Boogaloo/Boogaloo-Regular.ttf);
}

@font-face {
    font-family: Capriola;
    src: url(/css/fonts/Capriola/Capriola-Regular.ttf);
}
@font-face {
    font-family: Caveat_Brush;
    src: url(/css/fonts/Caveat_Brush/CaveatBrush-Regular.ttf);
}
@font-face {
    font-family: Cookie;
    src: url(/css/fonts/Cookie/Cookie-Regular.ttf);
}
@font-face {
    font-family: Emilys_Candy;
    src: url(/css/fonts/Emilys_Candy/EmilysCandy-Regular.ttf);
}
@font-face {
    font-family: Henny_Penny;
    src: url(/css/fonts/Henny_Penny/HennyPenny-Regular.ttf);
}
@font-face {
    font-family: Mansalva;
    src: url(/css/fonts/Mansalva/Mansalva-Regular.ttf);
}
@font-face {
    font-family: Mystery_Quest;
    src: url(/css/fonts/Mystery_Quest/MysteryQuest-Regular.ttf);
}
@font-face {
    font-family: Oldenburg;
    src: url(/css/fonts/Oldenburg/Oldenburg-Regular.ttf);
}
@font-face {
    font-family: Overlock;
    src: url(/css/fonts/Overlock/Overlock-Regular.ttf);
}
@font-face {
    font-family: Argentina;
    src: url(/css/fonts/Playwrite_AR/PlaywriteAR-VariableFont_wght.ttf);
}
@font-face {
    font-family: Quando;
    src: url(/css/fonts/Quando/Quando-Regular.ttf);
}
@font-face {
    font-family: Schoolbell;
    src: url(/css/fonts/Schoolbell/Schoolbell-Regular.ttf);
}
@font-face {
    font-family: Sevillana;
    src: url(/css/fonts/Sevillana/Sevillana-Regular.ttf);
}
@font-face {
    font-family: Shantell;
    src: url(/css/fonts/Shantell_Sans/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}
@font-face {
    font-family:Ellen_Francisco;
    src: url(/css/fonts/Sue_Ellen_Francisco/SueEllenFrancisco-Regular.ttf);
}

