body {
  /* background-image: url("../images/Navimg.png"); */
  background-image: url(../images/fundocolor.png);
  background-size: cover;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  /* background-image: url(../images/Navimg2.png); */
  justify-content: end;
  padding: 2%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  font-family: shantell;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 50px;
}

/* ============================================== */

h1 {
  font-family: Henny_Penny;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.intro {
  font-family: Shantell;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 15px;
  margin-top: 2%;
}

.introducao {
  width: 70%;
  height: 30%;
}

/* .mascoteMenu{
  display:inline-flex;
  width: 35%;
  height: 200px;
  } */

.flex {
  display: flex;
  justify-content: space-around;
  /* gap: 24px; */
}

.mascote {
  width: 25%;
  height: auto;
  /* margin-left: 20px; */
}


/*  =============BASTIDORES============= */
.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  border: 2px solid #00dfc3;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 50px;
  width: 380px;
  height: 400px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  flex-wrap: wrap;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  font-size: 1rem;
  color: #666;
}

.card img {
  width: 30%;
  height: auto;
  border: 3px solid #00dfc3;
  border-radius: 50%;
}

.card .info {
  color: black;
}

.lojinha {
  text-decoration: none;
  color: #02a38e;
}